In [72]:
import numpy as np
import pandas as pd

## Dati  Quarterly real GDP growth (period on period)
**https://data-explorer.oecd.org/vis?df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_NAMAIN1%40DF_QNA_EXPENDITURE_GROWTH_OECD&df[ag]=OECD.SDD.NAD&df[vs]=1.0&pd=2000-Q1%2C2022-Q4&dq=Q..GBR%2BSWE%2BESP%2BPRT%2BJPN%2BITA%2BGRC%2BDEU%2BFRA%2BFIN%2BBEL%2BAUT...B1GQ......G1.&to[TIME_PERIOD]=false&vw=tb**

In [73]:
df = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/GDP_GR/Quarterly real GDP growth - OECD countries.csv')
df = df[['Reference area','TIME_PERIOD','OBS_VALUE']]

In [74]:
df.columns = ['Country','Period','Value']

In [75]:
nazioni = df.groupby('Country').sum().index
nazioni

anni = df.groupby('Period').sum().index
anni[0]

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_767/2896014529.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  nazioni = df.groupby('Country').sum().index
/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_767/2896014529.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  anni = df.groupby('Period').sum().index

'2000-Q1'

In [76]:
df.set_index(['Country'],inplace=True)

In [81]:


for nazione in nazioni:
    
    naz = df.loc[nazione]
    anni = list(naz.groupby('Period').sum().index)
    primo = anni[0]
    ultimo = anni[-1]
    print(f' per {nazione} il primo anno è {primo} ed ultimo è {ultimo}')
    
gdp = df.loc['Austria']
gdp['Period'] = gdp['Period'].sort_values()
mean = gdp['Value'].mean()
std = gdp['Value'].std()

gdp['Value'] = (gdp['Value'] - mean)/std

 per Austria il primo anno è 2000-Q1 ed ultimo è 2022-Q4
 per Belgium il primo anno è 2000-Q1 ed ultimo è 2022-Q4
 per Finland il primo anno è 2000-Q1 ed ultimo è 2022-Q4
 per France il primo anno è 2000-Q1 ed ultimo è 2022-Q4
 per Germany il primo anno è 2000-Q1 ed ultimo è 2022-Q4
 per Greece il primo anno è 2000-Q1 ed ultimo è 2022-Q4
 per Italy il primo anno è 2000-Q1 ed ultimo è 2022-Q4
 per Japan il primo anno è 2000-Q1 ed ultimo è 2022-Q4
 per Netherlands il primo anno è 2000-Q1 ed ultimo è 2022-Q4
 per Portugal il primo anno è 2000-Q1 ed ultimo è 2022-Q4
 per Spain il primo anno è 2000-Q1 ed ultimo è 2022-Q4
 per Sweden il primo anno è 2000-Q1 ed ultimo è 2022-Q4
 per United Kingdom il primo anno è 2000-Q1 ed ultimo è 2022-Q4
 per United States il primo anno è 2000-Q1 ed ultimo è 2022-Q4

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_767/647994375.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdp['Period'] = gdp['Period'].sort_values()
/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_767/647994375.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdp['Value'] = (gdp['Value'] - mean)/std

In [98]:
database = {}
for nazione in nazioni:
    
    data = df.loc[nazione]
    data['Period'] = data['Period'].sort_values()
    mean = data['Value'].mean()
    std = data['Value'].std()

    data['Value'] = (data['Value'] - mean)/std
    database[nazione] = data

database = pd.concat(database.values()
                     ,axis=0)

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_767/3539033834.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Period'] = data['Period'].sort_values()
/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_767/3539033834.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Value'] = (data['Value'] - mean)/std

In [101]:
database

                Period     Value
Country
Austria        2000-Q1  0.036041
Austria        2000-Q2 -0.102128
Austria        2000-Q3  0.170009
Austria        2000-Q4  0.140791
Austria        2001-Q1  0.151958
...                ...       ...
United States  2021-Q4 -0.006389
United States  2022-Q1  0.532368
United States  2022-Q2  0.590407
United States  2022-Q3 -0.652320
United States  2022-Q4  0.271476

[1288 rows x 2 columns]

In [113]:
database.to_csv('GDP GROWTH STANDARDIZED DATA.csv')