In [420]:
import numpy as np
import pandas as pd

In [421]:
deposit = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/CREDIT CYCLE/interest rate spread/DEPOSIT RATE/ELABORAZIONE PROPRIA/deposit def.csv')
lending = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/CREDIT CYCLE/interest rate spread/LOANS TO CORPORATION/Lending.csv')

In [422]:
nan_positions = deposit.isna()
nan_indices = nan_positions.stack()[nan_positions.stack()]
print("\nIndices of NaN values:")
print(nan_indices.index[30:70])

Indices of NaN values:
MultiIndex([( 843, 'Deposit rate'),
            ( 844, 'Deposit rate'),
            ( 845, 'Deposit rate'),
            ( 846, 'Deposit rate'),
            ( 847, 'Deposit rate'),
            ( 848, 'Deposit rate'),
            ( 849, 'Deposit rate'),
            ( 850, 'Deposit rate'),
            ( 851, 'Deposit rate'),
            ( 852, 'Deposit rate'),
            ( 853, 'Deposit rate'),
            ( 854, 'Deposit rate'),
            ( 855, 'Deposit rate'),
            ( 856, 'Deposit rate'),
            ( 857, 'Deposit rate'),
            ( 858, 'Deposit rate'),
            ( 859, 'Deposit rate'),
            ( 860, 'Deposit rate'),
            ( 861, 'Deposit rate'),
            ( 862, 'Deposit rate'),
            ( 863, 'Deposit rate'),
            ( 864, 'Deposit rate'),
            ( 920, 'Deposit rate'),
            ( 921, 'Deposit rate'),
            ( 922, 'Deposit rate'),
            ( 923, 'Deposit rate'),
            ( 924, 'Deposit rate'),
            ( 925, 'Deposit rate'),
            ( 926, 'Deposit rate'),
            ( 927, 'Deposit rate'),
            ( 928, 'Deposit rate'),
            ( 929, 'Deposit rate'),
            ( 930, 'Deposit rate'),
            ( 931, 'Deposit rate'),
            ( 932, 'Deposit rate'),
            ( 933, 'Deposit rate'),
            ( 934, 'Deposit rate'),
            ( 935, 'Deposit rate'),
            (1196, 'Deposit rate'),
            (1197, 'Deposit rate')],
           )

In [423]:
deposit.groupby('Country').sum().index
deposit.set_index('Country',inplace=True)
USA = deposit.loc['United States']
deposit = deposit.reset_index()

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_2571/3079417694.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  deposit.groupby('Country').sum().index

In [424]:
lending.groupby('Country').sum().index

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_2571/4055878068.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  lending.groupby('Country').sum().index

Index(['Austria', 'Belgium', 'Canada', 'Finland', 'France', 'Germany',
       'Greece', 'Ireland', 'Italy', 'Japan', 'Lettonia', 'Lituania',
       'Netherlands', 'Portugal', 'Slovakia', 'Spain', 'United Kingdom',
       'United States'],
      dtype='object', name='Country')

In [425]:
lending.groupby('Country').sum().index
criterio = {'Lituania': 'Lithuania', 'Lettonia':'Latvia'}
lending = lending.replace(criterio)

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_2571/3355886464.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  lending.groupby('Country').sum().index

In [426]:
lending.set_index('Country',inplace=True)

In [427]:
rate = pd.merge(deposit, lending, on=['Country', 'Trimestre'])
rate = rate[['Country','Trimestre','Deposit rate','Lendin rate']]

In [428]:
rate.groupby('Country').sum().index

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_2571/124390430.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  rate.groupby('Country').sum().index

Index(['Austria', 'Belgium', 'Canada', 'Finland', 'France', 'Germany',
       'Greece', 'Ireland', 'Italy', 'Japan', 'Latvia', 'Lithuania',
       'Netherlands', 'Portugal', 'Slovakia', 'Spain', 'United Kingdom',
       'United States'],
      dtype='object', name='Country')

## DAJE CO STO SPREAD

In [429]:

rate['Spread'] = rate['Lendin rate']-rate['Deposit rate']

In [430]:
Spread = rate[['Country','Trimestre','Spread']]

In [431]:
trimestri = Spread['Trimestre'][0:92]
trimestri

0     2000Q1
1     2000Q2
2     2000Q3
3     2000Q4
4     2001Q1
       ...
87    2021Q4
88    2022Q1
89    2022Q2
90    2022Q3
91    2022Q4
Name: Trimestre, Length: 92, dtype: object

## LO CREO ANCHE PER LA SVEZIA A PARTIRE DATI BANCA CENTRALE
**https://www.riksbank.se/en-gb/statistics/interest-rates-and-exchange-rates/search-interest-rates-and-exchange-rates/?s=g2-SECBDEPOEFF&s=g2-SECBLENDEFF&a=Q&from=2000-01-03&to=2022-12-30&c=Ultimo&fs=3#result-section**

In [432]:

Sweden = pd.read_excel('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/CREDIT CYCLE/interest rate spread/DATI MESSI TUTTI INSIEME/ADVANCED RESULT_2024-05-17_08_48.xlsx')
Sweden.head(20)


Sweden.columns = ['Trimestre','Deposit rate','Lendin rate']
Sweden['Country'] = 'Sweden'
Sweden['Trimestre'][4:96]= trimestri

Sweden['Spread'] = Sweden['Lendin rate'].iloc[4:96] -Sweden['Deposit rate'].iloc[4:96]

In [433]:
Sweden

,Trimestre,Deposit rate,Lendin rate,Country,Spread
0,ADVANCED RESULT 03/01/2000 - 30/12/2022,NaN,NaN,Sweden,NaN
1,Period,Riksbank key interest rates,NaN,Sweden,NaN
2,NaN,Deposit rate,Lending rate,Sweden,NaN
3,Period,Average,Average,Sweden,NaN
4,2000Q1,2.75,4.25,Sweden,1.5
...,...,...,...,...,...
101,Source: Sveriges Riksbank,NaN,NaN,Sweden,NaN
102,NaN,NaN,NaN,Sweden,NaN
103,Lending rate (1994-06-01 - ),NaN,NaN,Sweden,NaN
104,The lending rate is the rate of interest banks...,NaN,NaN,Sweden,NaN
105,Source: Sveriges Riksbank,NaN,NaN,Sweden,NaN

In [434]:
Swe =Sweden.loc[4:95]
Swe = Swe[['Trimestre','Country','Spread']]

mean = Swe['Spread'].mean()
std = Swe['Spread'].std()

Swe['Spread'] = (Swe['Spread'] - mean) / std

In [435]:
Swe

   Trimestre Country    Spread
4     2000Q1  Sweden  0.452924
5     2000Q2  Sweden  0.452924
6     2000Q3  Sweden  0.452924
7     2000Q4  Sweden  0.452924
8     2001Q1  Sweden  0.452924
..       ...     ...       ...
91    2021Q4  Sweden -2.565587
92    2022Q1  Sweden -2.565587
93    2022Q2  Sweden -2.565587
94    2022Q3  Sweden -2.565587
95    2022Q4  Sweden -2.565587

[92 rows x 3 columns]

## HO CREATO MANUALMENTE UN DATABASE DATO DALLA DIFFERENZA TRA IL TASSO DI PRESTITO E DEPOSITO NEI VARI PAESI

In [436]:
spread = pd.concat([Spread,Swe],axis=0)

In [437]:
spread.set_index(['Country','Trimestre'],inplace=True)

## IMPUTAZIONE BELGIO CON IL VALORE MEDIO

In [438]:
trimestri = ['2003Q1', '2003Q2','2003Q3', '2003Q4', '2004Q1', '2004Q2', '2004Q3', '2004Q4', '2005Q1','2005Q2', '2005Q3', '2005Q4','2006Q1','2006Q2','2006Q3','2010Q3','2010Q4']
mean = spread.loc['Belgium'].mean()

for trimestre in trimestri:

    spread.loc[('Belgium',trimestre)] = mean

In [439]:
nan_positions = spread.isna()
nan_indices = nan_positions.stack()[nan_positions.stack()]
print("\nIndices of NaN values:")
print(nan_indices.index)

Indices of NaN values:
MultiIndex([('Lithuania', '2000Q1', 'Spread'),
            ('Lithuania', '2000Q2', 'Spread'),
            ('Lithuania', '2000Q3', 'Spread'),
            ('Lithuania', '2000Q4', 'Spread'),
            ('Lithuania', '2001Q1', 'Spread'),
            ('Lithuania', '2001Q2', 'Spread'),
            ('Lithuania', '2001Q3', 'Spread'),
            ('Lithuania', '2001Q4', 'Spread'),
            ('Lithuania', '2002Q1', 'Spread'),
            ('Lithuania', '2002Q2', 'Spread'),
            ('Lithuania', '2002Q3', 'Spread'),
            ('Lithuania', '2002Q4', 'Spread'),
            ('Lithuania', '2003Q1', 'Spread'),
            ('Lithuania', '2003Q2', 'Spread'),
            ('Lithuania', '2003Q3', 'Spread'),
            ('Lithuania', '2003Q4', 'Spread'),
            ('Lithuania', '2004Q1', 'Spread'),
            ('Lithuania', '2004Q2', 'Spread'),
            ('Lithuania', '2004Q3', 'Spread'),
            ('Lithuania', '2004Q4', 'Spread'),
            ('Lithuania', '2005Q1', 'Spread'),
            ('Lithuania', '2005Q2', 'Spread'),
            ('Lithuania', '2005Q3', 'Spread'),
            ('Lithuania', '2005Q4', 'Spread'),
            ('Lithuania', '2006Q1', 'Spread'),
            ('Lithuania', '2006Q2', 'Spread'),
            ('Lithuania', '2006Q3', 'Spread'),
            ('Lithuania', '2006Q4', 'Spread'),
            ('Lithuania', '2007Q1', 'Spread'),
            ('Lithuania', '2007Q2', 'Spread'),
            ('Lithuania', '2007Q3', 'Spread'),
            ('Lithuania', '2007Q4', 'Spread'),
            ('Lithuania', '2008Q1', 'Spread'),
            ('Lithuania', '2008Q2', 'Spread'),
            ('Lithuania', '2008Q3', 'Spread'),
            ('Lithuania', '2008Q4', 'Spread'),
            ('Lithuania', '2009Q1', 'Spread'),
            (   'Latvia', '2000Q1', 'Spread'),
            (   'Latvia', '2000Q2', 'Spread'),
            (   'Latvia', '2000Q3', 'Spread'),
            (   'Latvia', '2000Q4', 'Spread'),
            (   'Latvia', '2001Q1', 'Spread'),
            (   'Latvia', '2001Q2', 'Spread'),
            (   'Latvia', '2001Q3', 'Spread'),
            (   'Latvia', '2001Q4', 'Spread'),
            (   'Latvia', '2002Q1', 'Spread'),
            (   'Latvia', '2002Q2', 'Spread'),
            (   'Latvia', '2002Q3', 'Spread'),
            (   'Latvia', '2002Q4', 'Spread'),
            (   'Latvia', '2003Q1', 'Spread'),
            (   'Latvia', '2003Q2', 'Spread'),
            (   'Latvia', '2003Q3', 'Spread'),
            (   'Latvia', '2003Q4', 'Spread'),
            ( 'Slovakia', '2000Q1', 'Spread'),
            ( 'Slovakia', '2000Q2', 'Spread'),
            ( 'Slovakia', '2000Q3', 'Spread'),
            ( 'Slovakia', '2000Q4', 'Spread'),
            ( 'Slovakia', '2001Q1', 'Spread'),
            ( 'Slovakia', '2001Q2', 'Spread'),
            ( 'Slovakia', '2001Q3', 'Spread'),
            ( 'Slovakia', '2001Q4', 'Spread'),
            ( 'Slovakia', '2002Q1', 'Spread'),
            ( 'Slovakia', '2002Q2', 'Spread'),
            ( 'Slovakia', '2002Q3', 'Spread'),
            ( 'Slovakia', '2002Q4', 'Spread'),
            ( 'Slovakia', '2003Q1', 'Spread'),
            ( 'Slovakia', '2003Q2', 'Spread'),
            ( 'Slovakia', '2003Q3', 'Spread'),
            ( 'Slovakia', '2003Q4', 'Spread'),
            ( 'Slovakia', '2004Q1', 'Spread'),
            ( 'Slovakia', '2004Q2', 'Spread'),
            ( 'Slovakia', '2004Q3', 'Spread'),
            ( 'Slovakia', '2004Q4', 'Spread'),
            ( 'Slovakia', '2005Q1', 'Spread'),
            ( 'Slovakia', '2005Q2', 'Spread'),
            ( 'Slovakia', '2005Q3', 'Spread'),
            ( 'Slovakia', '2005Q4', 'Spread'),
            ( 'Slovakia', '2006Q1', 'Spread'),
            ( 'Slovakia', '2006Q2', 'Spread'),
            ( 'Slovakia', '2006Q3', 'Spread'),
            ( 'Slovakia', '2006Q4', 'Spread'),
            ( 'Slovakia', '2007Q1', 'Spread'),
            ( 'Slovakia', '2007Q2', 'Spread'),
            ( 'Slovakia', '2007Q3', 'Spread'),
            ( 'Slovakia', '2007Q4', 'Spread')],
           names=['Country', 'Trimestre', None])

In [440]:
spread

                     Spread
Country Trimestre
Austria 2000Q1     0.591463
        2000Q2     0.616734
        2000Q3     0.497079
        2000Q4     0.413858
        2001Q1     0.378304
...                     ...
Sweden  2021Q4    -2.565587
        2022Q1    -2.565587
        2022Q2    -2.565587
        2022Q3    -2.565587
        2022Q4    -2.565587

[1723 rows x 1 columns]

In [441]:
spread.to_csv('SPREAD DEFINITIVO.csv')